<div class="row">
    <h4 class="text-primary pl-4 pt-2 col-12">
        Grand Chiled Components
    </h4>
    <p> There is a Message - @MessagForGranChiled</p>
</div>

@code {
    [CascadingParameter]
    public string MessagForGranChiled { get; set; }
}
