@page "/LearnBlazor/ParentComponent"

<h3>ParentChiled</h3>
<CascadingValue Value="@MessagForGranChiled">
    <_ChiledComponent @ref="ChiledVom" OnButtonClick="ShowMessage" Title="This Title Pass From parent Component ">

    <ChildSomeContent> There is Some Text Between Tags !!!</ChildSomeContent>
    <ChildContent>
        this is ChildContent !!!
    </ChildContent>

</_ChiledComponent>
</CascadingValue>
@Massege

<div class="row">
    <button class="btn btn-success" @onclick="()=> ChiledVom.ToastrSuccess()"> Show Toastr ! </button>
</div>

@code {
    public _ChiledComponent ChiledVom; 
    public string Massege = "";

    private string MessagForGranChiled = "This Message is Pass from Parent Component  To GrantChiled";
    private void ShowMessage()
    {
        Massege = "this Button is Clcked";
    }
}
