@page "/LearnBlazor/DemoProduct"


<h2 class="text-primary">Demo Product </h2>
<div class=" p-2 mt-2">
    <div class="row">
        @foreach (var prod in ProductList)
        {
            <div class="bg-light m-1 col-5">
                <h4 class="text-secondary"> Product -@prod.Id </h4>
                Name - @prod.Name 
                show Propareties  : 
                <input type="checkbox" @bind="@prod.isActive" />

                @if (prod.isActive)
                {
                    @foreach (var list in prod.ProductProperies)
                    {
                        <p>@list.Key - @list.Value</p>
                    }
                }
                <br/>
                <input type="button" class="btn btn-danger" style="width:100px" value="Delete" />
            </div>

        }
    </div>
</div>

@code {

    List<Product> ProductList = new();
    protected override void OnInitialized()
    {
        ProductList.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                isActive = false,
                price = 5.99,
                ProductProperies = new List<Product__prop>()
                {
                  new Product__prop { Id = 1, Key = "Flavor", Value = "Rose"},
                  new Product__prop { Id = 2, Key = "Size", Value = "20oz"},
                  new Product__prop { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        ProductList.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                price = 9.99,
                isActive = true,
                ProductProperies = new List<Product__prop>()
            {
                new Product__prop { Id = 1, Key = "Flavor", Value = "Lily" },
                new Product__prop { Id = 2, Key = "Size", Value = "18oz" },
                new Product__prop {Id = 3,Key = "Color",Value = "White"}
            }
            });
    }
}
